<%- include('../partials/header') %>

<main class="container">
  <h1 class="headerContainer">Character Details</h1>

  <form action="/characters/<%= character._id %>?_method=PUT" method="POST" class="edit-form">
    <div class="character-info">
      <h2><strong><%= character.name %></strong></h2>
      <p><strong>Player Name:</strong> <%= character.playerName %></p>
      <p><strong>Career Path:</strong> <%= character.careerPath %></p>
      <div class="form-group">
        <label for="rank"><strong>Rank:</strong></label>
        <input type="text" id="rank" name="rank" value="<%= character.rank %>" required>
      </div>
      <p><strong>Homeworld:</strong> <%= character.homeworld %></p>
      <p><strong>Motivation:</strong> <%= character.motivation %></p>
      <div class="form-group">
        <label for="description"><strong>Description</strong></label>
        <textarea id="description" name="description" required><%= character.description %></textarea>
      </div>
    </div>

    <div class="form-row"> <!-- New div for attributes in a row -->
      <div class="attributes">
        <h3>Attributes</h3>
        <div class="attribute-input">
          <label for="weaponSkill">Weapon Skill</label>
          <input type="number" id="weaponSkill" name="weaponSkill" value="<%= character.weaponSkill %>" required maxlength="3">
        </div>
        <div class="attribute-input">
          <label for="ballisticSkill">Ballistic Skill</label>
          <input type="number" id="ballisticSkill" name="ballisticSkill" value="<%= character.ballisticSkill %>" required maxlength="3">
        </div>
        <div class="attribute-input">
          <label for="strength">Strength</label>
          <input type="number" id="strength" name="strength" value="<%= character.strength %>" required maxlength="3">
        </div>
        <div class="attribute-input">
          <label for="toughness">Toughness</label>
          <input type="number" id="toughness" name="toughness" value="<%= character.toughness %>" required maxlength="3">
        </div>
        <div class="attribute-input">
          <label for="agility">Agility</label>
          <input type="number" id="agility" name="agility" value="<%= character.agility %>" required maxlength="3">
        </div>
        <div class="attribute-input">
          <label for="intelligence">Intelligence</label>
          <input type="number" id="intelligence" name="intelligence" value="<%= character.intelligence %>" required maxlength="3">
        </div>
      </div>

      <div class="grouped-elements"> <!-- Grouped elements div -->
        <div class="form-group"> <!-- Form group for talents and traits -->
          <h3>Talents & Traits</h3>
          <textarea id="talentsAndTraits" name="talentsAndTraits" required><%= character.talentsAndTraits %></textarea>
        </div>

        <div class="form-group"> <!-- Form group for special abilities -->
          <h3>Special Abilities</h3>
          <textarea id="specialAbilities" name="specialAbilities" required><%= character.specialAbilities %></textarea>
        </div>

        <div class="form-group"> <!-- Form group for psychic disciplines -->
          <h3>Psychic Disciplines</h3>
          <textarea id="psychicDisciplines" name="psychicDisciplines" required><%= character.psychicDisciplines %></textarea>
        </div>

        <div class="form-group"> <!-- Form group for psychic techniques -->
          <h3>Psychic Techniques</h3>
          <textarea id="psychicTechniques" name="psychicTechniques" required><%= character.psychicTechniques %></textarea>
        </div>
      </div>
    </div>

      <div class="form-group profit-factor">
        <h3>Profit Factor</h3>
        <label for="startingProfitFactor">Starting Profit Factor</label>
        <input type="number" id="startingProfitFactor" name="startingProfitFactor" value="<%= character.startingProfitFactor %>" required>

        <label for="currentProfitFactor">Current Profit Factor</label>
        <input type="number" id="currentProfitFactor" name="currentProfitFactor" value="<%= character.currentProfitFactor %>" required>

        <h3>Experience Points</h3>
        <label for="misfortunes">Misfortunes</label>
        <input type="number" id="misfortunes" name="misfortunes" value="<%= character.misfortunes %>" required>

        <label for="experiencePointsToSpend">Exp Points To Spend</label>
        <input type="number" id="experiencePointsToSpend" name="experiencePointsToSpend" value="<%= character.experiencePointsToSpend %>" required>

        <label for="experiencePointsSpent">Exp Points Spent</label>
        <input type="number" id="experiencePointsSpent" name="experiencePointsSpent" value="<%= character.experiencePointsSpent %>" required>
      </div>

    <div class="bottom-buttons"> <!-- New div for the buttons at the bottom -->
      <button type="submit" class="btn btn-primary update-button">Update Character</button>
      <a href="/characters" class="btn btn-primary">Back to Character Index</a>
    </div>
  </form>
</main>

<main class="container">
  <section class="add-items-section">
    <h1 class="headerContainer">ADD ITEMS</h1>
    <form id="add-per-to-cast" action="/items/characters/<%= character._id %>/items" method="POST">
      <div class="add-items-form">
        <select name="itemId">
          <!-- Emit an option for each item -->
          <% items.forEach(item => { %>
            <option value="<%= item._id %>"><%= item.name %></option>
          <% }); %>
        </select>
        <button type="submit">Add to Items</button>
      </div>
    </form>
  </section>

  <!-- ADDED ITEMS section -->
  <section class="added-items-section">
    <div class="added-items">
      <h3>Added Items:</h3>
      <div class="added-items-grid">
        <% character.itemsHeld.forEach(itemId => { %>
          <% const item = items.find(item => item._id.toString() === itemId.toString()); %>
          <% if (item) { %>
            <div class="added-item">
              <span><%= item.name %></span>
              <form action="/items/characters/<%= character._id %>/items/<%= item._id %>?_method=DELETE" method="POST">
                <button type="submit">Remove</button>
              </form>
            </div>
          <% } %>
        <% }); %>
      </div>
    </div>
  </section>
</main>

<!-- CURRENT LOCATION section -->
<!-- CURRENT LOCATION section -->
<main class="container">
  <section class="add-items-section">
    <h1 class="headerContainer">SET LOCATION:</h1>
    <form id="add-per-to-cast" action="/locations/characters/<%= character._id %>/locations" method="POST">
      <div class="add-items-form">
        <select name="locationId">
          <!-- Emit an option for each location -->
          <% locations.forEach(location => { %>
            <option value="<%= location._id %>"><%= location.name %></option>
          <% }); %>
        </select>
        <button type="submit">Add Location</button>
      </div>
    </form>
  </section>

  <section class="added-items-section">
    <div class="added-items">
      <h3>Current Location:</h3>
      <div class="added-items-grid">
        <% character.locationHeld.forEach(locationId => { %>
          <% const location = locations.find(location => location._id.toString() === locationId.toString()); %>
          <% if (location) { %>
            <div class="added-item">
              <span class="centered"><%= location.name %></span>
              <form action="/locations/characters/<%= character._id %>/locations/<%= location._id %>?_method=DELETE" method="POST">
                <button type="submit">Remove</button>
              </form>
            </div>
          <% } %>
        <% }); %>
      </div>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>


<style>
  .edit-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    background: rgba(101,184,167,0.5);
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group,
  .attribute-form-group {
    flex: 1 1 300px;
  }

  .form-group label,
  .attribute-form-group label {
    display: block;
    font-weight: bold;
  }

  .form-group input,
  .attribute-form-group input,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group textarea,
  .attribute-form-group textarea {
    resize: vertical;
  }

  .form-group button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .character-details {
    flex: 1;
  }

  .form-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .attribute-input {
    width: 150px;
  }

  .grouped-elements {
    flex: 1;
  }

  .grouped-elements .form-group {
    margin-bottom: 20px;
  }

  .bottom-buttons .btn {
    flex: 1;
  }


  .form-group.profit-factor {
    margin-top: -20px; /* Adjust the negative margin as needed to move it upward */
  }

  .bottom-buttons {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-top: 40px; /* Increase the top margin to create more space */
    gap: 20px;
  }

  .bottom-buttons .btn {
    flex: 1;
  }